---
import { getMonthName } from '$/utils'
const { frontmatter: post, url } = Astro.props.post
---
<div class="post-preview">
    <div class="sm:w-20 md:w-32">
        <div class="post-preview__date">
            <span class="post-preview__date__day">{ new Date(post.date).getDate() }</span>
            <span class="post-preview__date__month-n-year">{ `${getMonthName(post.date)} ${new Date(post.date).getFullYear()}` }</span>
        </div>
    </div>
    <div class="flex-1">
        <h4 class="post-preview__title dark:text-theme-dark-primary">
            <a href={url} title={post.title}>{post.title}</a>
        </h4>
        <p class="post-preview__desc">
            {post.description}
        </p>
    </div>
</div>
<style>
    .post-preview {
        @apply  flex gap-6;
    }
    .post-preview__date {
        @apply flex flex-col w-full text-center;
    }
    .post-preview__date__day {
        @apply text-6xl font-semibold text-gray-500 dark:text-gray-300;
    }
    .post-preview__date__month-n-year {
        @apply text-gray-400;
    }
    .post-preview__title {
        @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary /* this doesn't works here */ hover:underline mb-2;
    }
    .post-preview__desc {
        @apply text-lg leading-6 line-clamp-2 dark:text-white;
    }
</style>
